.App {
  text-align: center;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

h1 {
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.content {
    max-width: 800px;
    width: 100%;
    padding: 20px;
}